**/__pycache__
fitrations.db
backend/venv/
frontend/node_modules/
# Used in local dev work only
docker-compose.dev.yaml

# Build output
dist/
build/
data/

# Environment file for development
.env.development