# Project files
**/__pycache__
fitrations.db
backend/venv/
frontend/node_modules/
NOTES.md

# Build output
dist/
build/
data/

# Development files
.env.development
docker-compose.dev.yaml

# OS specific files
.DS_Store