.calculator-bmr {
    color: #94A3B8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
    margin: 0;
}

.calculator-tdee {
    color: #94A3B8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 1.3rem;
    margin: 0;
}