.container-default {
    background-color: #182226;
    padding: 6px 15px;
    border-radius: 24px;
    justify-content: center;
    align-content: center;
}

.container-section {
    padding: 10px 15px;
    border-radius: 8px;
    justify-content: center;
    align-content: center;
    background-color: #202D33;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}