.container-appview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:black;
}

.container-appshell {
    display: flex;
    height: 100svh;
    background-color: #000000;
    color: #ccd9d1;
}

.container-appmain {
    flex: 8;
    padding: 15px;
    overflow-y: auto;
    color:black;
}

.hint {
    color: #6d7a80;
    font-size: 0.8rem;
}