.container-appview {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-appshell {
    display: flex;
    height: 100svh;
    background-color: #100f0f;
    color: #e0e0e0;
}

.container-appmain {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}